.backup
{
    background-image:url("https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?w=2000");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}