.kumar
{
    background-image:url("https://www.familyzone.com/hubfs/shutterstock_617755883.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.lappy
{
    margin-left:800px;
}
